<ul>
	<% @concerts.each do |concert| %>
		<% if concert.date.future? %>
			<li>
				<%= link_to concert.artist, concert_path(concert) %>
				<% if concert.description %>
					- 
				<% end %>
				<%= concert.description %>
				<%= concert.date %>
			</li>
		<% end %>
	<% end %>
</ul>